*{
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Noto Sans TC', sans-serif;
}
.main-footer{
  padding: 150px 0 0;
  background-color: #aaa;
}
.main-footer .container{
  display: flex;
  width: 1200px;
  margin: auto;
}
.footer-item{
  width: 0;
  flex-grow: 1;
  margin: 0 20px;
}
.footer-item h4{
  font-size: 24px;
  color: #fff;
  border-bottom: 1px dotted #fff;
  margin-bottom: .5em;
  padding-bottom: .5em;
}
.footer-item nav{
  display: flex;
  flex-flow: column;
}
.footer-item nav a{
  color: #fff;
  line-height: 1.4;
  text-decoration: none;
  padding: 5px 0;
}
.footer-item nav a:hover{
  color: #fa0;
}
.main-footer .copyright{
  text-align: center;
  margin: 150px 0 0;
  padding: 10px 0;
  background-color: #fa0;
}

.footer-subs{
  display: flex;
  flex-direction: column;
}
.footer-subs form{
  display: flex;
  width: 100%;
  margin: auto 0;
}
.footer-subs input{
  border: none;
  padding: 5px 10px;
}
.footer-subs input[type="text"]{
  width: 0;
  flex-grow: 1;
}
.footer-subs input[type="submit"]{
  color: #777;
  background-color: #eee;
}