*{
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Noto Sans TC', sans-serif;
}
.wrap{
  margin: 100px 0;
}
.container{
  width: 1200px;
  margin: auto;
}
.container h1{
  font-size: 90px;
  padding: 25px;
  color: #999;
  width: 400px;
  box-sizing: border-box;
  float: right;
  margin: auto;
  position: relative;
}
.container h1:after{
  content: "";
  position: absolute;
  border: 30px solid #eee;
  width: 250px;
  height: 250px;
  left: 50px;
  top: 50px;
  z-index: -1;
}

.container .txt{
  column-count: 2;
  column-gap: 30px;
}
.container p{
  line-height: 1.6;
  margin-bottom: 1.6em;
}